# Supabase Configuration
SUPABASE_URL=https://acuiwfmxqhbafdyzzqjx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjdWl3Zm14cWhiYWZkeXp6cWp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUxNzI3NTcsImV4cCI6MjA4MDc0ODc1N30.0DMs4D1rKuEdSEuJ-XrXZFqa40L763NFXln6BvgLSn0
SUPABASE_SERVICE_ROLE_KEY=hHrm+VRR6jv3biWHaOCJ/S8kyIgobb+mxMxQOPdCws9cxQUx33YLc5qCZFrud+0S2W7oPUfgKM1xPyzNh4l5zQ==

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Firebase Configuration

# Image Upload Service (ImgBB)
IMGBB_API_KEY=

# Node Environment
NODE_ENV=development
